.custom-col {
  padding: 8px 0px !important;
  margin: 0 !important;
  flex-basis: 0 !important;
  flex-grow: 1 !important;
  flex-shrink: 1 !important;
  display: block !important;
}

@media (min-width: 769px) {
  .custom-row {
    display: flex !important;
    flex-wrap: wrap !important;
    margin: 0 -8px 0 -8px !important;
    width: calc(100% + 16px) !important;
  }

  .custom-row > .custom-col {
    padding: 8px !important;
  }

  .custom-row > .custom-col.custom-col-1 {
    width: 8.33333% !important;
    flex: none !important;
  }
  .custom-row > .custom-col.custom-col-2 {
    width: 16.66% !important;
    flex: none !important;
  }
  .custom-row > .custom-col.custom-col-3 {
    width: 25% !important;
    flex: none !important;
  }
  .custom-row > .custom-col.custom-col-4 {
    width: 33.33333% !important;
    flex: none !important;
  }
  .custom-row > .custom-col.custom-col-5 {
    width: 41.66667% !important;
    flex: none !important;
  }
  .custom-row > .custom-col.custom-col-6 {
    width: 50% !important;
    flex: none !important;
  }
  .custom-row > .custom-col.custom-col-7 {
    width: 58.33333% !important;
    flex: none !important;
  }
  .custom-row > .custom-col.custom-col-8 {
    width: 66.66667% !important;
    flex: none !important;
  }
  .custom-row > .custom-col.custom-col-9 {
    width: 75% !important;
    flex: none !important;
  }
  .custom-row > .custom-col.custom-col-10 {
    width: 83.33333% !important;
    flex: none !important;
  }
  .custom-row > .custom-col.custom-col-11 {
    width: 91.66667% !important;
    flex: none !important;
  }
  .custom-row > .custom-col.custom-col-12 {
    width: 100% !important;
    flex: none !important;
  }
}
