/* LAYOUT AND GRID SYSTEM
--------------------------------------------------------------- */

#mobile-menu-toggle {
  z-index: 9999;
  /* position: fixed;
  right: 30px;
  top: 30px; */
  width: 35px;
  height: 35px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  margin-left: auto;
}

#mobile-menu-toggle span {
  display: block;
  position: absolute;
  height: 6px;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#mobile-menu-toggle span:nth-child(1) {
  top: 10%;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#mobile-menu-toggle span:nth-child(2) {
  top: calc(50% - 3px);
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#mobile-menu-toggle span:nth-child(3) {
  top: calc(90% - 6px);
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#mobile-menu-toggle .rotate {
  height: 100%;
  width: 100%;
  transition: 0.25s ease-in-out;
}

#mobile-menu-toggle.open {
  position: relative;
  right: 12px;
}

#mobile-menu-toggle.open .rotate {
  transform: rotate(-45deg);
}

#mobile-menu-toggle.open span:nth-child(1) {
  /* left: 50%; */
  top: calc(50% - 3px);
  /* left: 8px; */
}

#mobile-menu-toggle.open span:nth-child(2) {
  top: 0;
  left: calc(50% - 3px);
  width: 6px;
  height: 100%;
}

#mobile-menu-toggle.open span:nth-child(3) {
  width: 0;
  opacity: 0;
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  background: rgba(85, 85, 85, 0.658);
  opacity: 0;
  z-index: -1;
  visibility: hidden;
  height: 100vh;
  transform-origin: 0 0;
  transform: translateX(-120%);
  width: 100%;
  clip-path: polygon(0% 0%, 100% 0%, 75% 100%, 0% 100%);
  transition: all 0.275s 0.1s;
}

.mobile-menu.open {
  opacity: 1;
  z-index: 100;
  visibility: visible;
  transform: translateX(0%);
  width: 140%;
}

.mobile-menu::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--primary);
  transform-origin: 0 0;
  transform: skew(-16deg) translateX(-120%);
  transition: all 0.275s 0.1s;
  z-index: 0;
}

.mobile-menu.open::before {
  transform: skew(-16deg) translateX(-50%);
}

@media (max-width: 450px) {
  .mobile-menu.open::before {
    transform: skew(-16deg) translateX(-40%);
  }
}

.mobile-menu::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(255, 255, 255);
  transform-origin: 0 0;
  transform: skew(-16deg) translateX(-120%);
  transition: all 0.325s 0.1s;
  transition-timing-function: ease-out;
}

.mobile-menu.open::after {
  transform: skew(-16deg) translateX(-45%);
}

@media (max-width: 450px) {
  .mobile-menu.open::after {
    transform: skew(-16deg) translateX(-35%);
  }
}

.mobile-menu-items {
  position: absolute;
  overflow-x: hidden;
  transform-origin: 0 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 64px;
  display: inline-flex;
  flex-direction: column;
  height: 100%;
  align-items: flex-end;
  justify-content: flex-start;
  transform: translateX(-50.5%) skew(-16deg);
  width: 100%;
  overflow-y: auto;
  /* background: #264966; */
}

/* ::-webkit-scrollbar {
  width: 9px;
  background-color: transparent;
  border-radius: 100px;
}

::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
  width: 10px !important;
}

::-webkit-scrollbar-thumb:vertical {
  background: rgb(81, 160, 249);
  border-radius: 100px;
} */

.mobile-menu-items::-webkit-scrollbar {
  width: 0.3em;
}

.mobile-menu-items::-webkit-scrollbar-track {
  background: rgb(81, 160, 249);
  box-shadow: inset 10px 5px 10px -5px rgba(0, 0, 0, 0.3);
}

.mobile-menu-items::-webkit-scrollbar-thumb {
  background-color: white;
  z-index: 9999;
  border-radius: 50px;
}

@media (max-width: 450px) {
  .mobile-menu-items {
    transform: skew(-16deg) translateX(-40%);
  }
}

.mobile-menu-item {
  display: block;
  font-size: 30px;
  color: white;
  padding: 12px 0;
  text-align: right;
  width: calc(100% + 20px);
  position: relative;
  right: -30px;
  padding-right: 64px;
  transform: skew(16deg);
}

.mobile-menu-item:hover {
  /* box-shadow: inset -200px 50px 200px -100px rgba(255, 255, 255, 0.8); */
  background: white;
  transition-duration: 0.5s;
  color: rgb(81, 160, 249);
}

* {
  box-sizing: border-box;
}

code {
  background: #ddd;
  border-radius: 2px;
  padding: 1px 4px;
}

:root {
  --space-none: 0;
  --space-xxs: 8px;
  --space-xs: 16px;
  --space-sm: 24px;
  --space-md: 32px;
  --space-lg: 48px;
  --space-xl: 64px;
  --space-xxl: 72px;

  --primary: rgb(81, 160, 249);
  --button-color: linear-gradient(
    to right top,
    rgb(80, 202, 249),
    rgb(83, 104, 241)
  );
  --button-color-light: rgba(255, 255, 255, 0.2);
}

#hero_image {
  background-size: 'cover';
  background-repeat: 'no-repeat';
  background-attachment: 'fixed';
  /* clip-path: 'polygon(100% 0, 100% 83%, 35% 95%, 0 87%, 0 0)'; */
  z-index: 9;
}
.hero_title {
  color: white;
  font-weight: 500;
  font-size: 44px !important;
  margin-top: 0;
}
.hero_subtitle {
  color: rgba(255, 255, 255, 0.767);
  margin-top: 0;
  font-size: 22px;
  font-weight: 500;
}
.title {
  padding-bottom: 20px;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 32px;
  text-align: center;
  font-size: 28px;
}
.title::after {
  content: '';
  height: 2px;
  width: 40%;
  max-width: 400px;
  margin: 0 auto;
  background: var(--primary);
  display: block;
  margin-top: 12px;
}
@media (min-width: 576px) {
  .hero_title {
    color: white;
    font-weight: 500;
    font-size: 52px !important;
    margin-top: 0;
  }
  .hero_subtitle {
    color: rgba(255, 255, 255, 0.767);
    margin-top: 0;
    font-size: 26px;
    font-weight: 500;
  }
  .title {
    padding-bottom: 20px;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 32px;
    text-align: center;
    font-size: 36px;
  }
}
a {
  margin: 0;
  text-decoration: none;
}
button,
a.button {
  padding: 10px 26px !important;
  border: none !important;
  text-transform: uppercase !important;
  cursor: pointer !important;
  transition-duration: 0.5s !important;
  letter-spacing: 1.1px !important;
  font-size: 15px !important;
  font-weight: 500 !important;
  z-index: 1 !important;
  overflow: hidden !important;
  position: relative !important;
  margin: 0 8px !important;
  outline: none !important;
  border-radius: 50px;
  /* clip-path: polygon(5% 0, 95% 0, 100% 20%, 100% 80%, 95% 100%, 5% 100%, 0% 80%, 0% 20%); */
}
button::before,
a.button::before {
  clip: none !important;
  z-index: -100 !important;
  transform: scale(1) !important;
}
button:hover,
a.button:hover {
  cursor: pointer !important;
}
button:active,
a.button:active {
  transform: scale(1.05) !important;
}
button.primary,
a.button.primary {
  background: var(--button-color) !important;
  color: white !important;
  padding: 14px 28px !important;
}
button.primary::before,
a.button.primary::before {
  content: '' !important;
  position: absolute !important;
  background: var(--button-color-light) !important;
  top: 0 !important;
  right: 100% !important;
  z-index: -1 !important;
  transition: 0.2s ease-in-out !important;
  width: 101% !important;
  height: 101% !important;
}
button.primary:hover::before,
a.button.primary:hover::before {
  right: 0 !important;
}
button.primary.outlined,
button.primary.transparent,
a.button.primary.outlined,
a.button.primary.transparent {
  background: transparent !important;
  color: var(--button-color) !important;
  border: 2px solid var(--button-color) !important;
  padding: 12px 26px !important;
}
button.primary.outlined:hover,
a.button.primary.outlined:hover {
  color: white !important;
  border: 2px solid rgb(184, 95, 37) !important;
}
button.primary.transparent::before,
a.button.primary.transparent::before {
  background: rgba(37, 56, 72, 0.322) !important;
}

button.secondary,
a.button.secondary {
  background: white !important;
  color: #333 !important;
}
button.secondary::before,
a.button.secondary::before {
  content: '' !important;
  position: absolute !important;
  background: var(--button-color-light) !important;
  top: 0 !important;
  right: 100% !important;
  z-index: -1 !important;
  transition: 0.2s ease-in-out !important;
  width: 101% !important;
  height: 101% !important;
}
button.secondary:hover::before,
a.button.secondary:hover::before {
  right: 0 !important;
}
button.secondary.outlined,
button.secondary.transparent,
a.button.secondary.outlined,
a.button.secondary.transparent {
  background: transparent !important;
  color: white !important;
  border: 2px solid white !important;
  padding: 12px 26px !important;
  position: relative !important;
}
button.secondary.outlined:hover::before,
a.button.secondary.outlined:hover::before {
  background: white !important;
}
button.secondary.outlined:hover,
a.button.secondary.outlined:hover {
  color: #333 !important;
}
button.secondary.transparent::before,
a.button.secondary.transparent::before {
  background: rgba(255, 255, 255, 0.185) !important;
}

/* CARD
----------------------------------------------------------------
----------------------------------------------------------------*/

.card {
  box-shadow: 0 0 2px 1px #eaeaea;
  border-radius: 4px;
  border: 1px solid #ddd;
  padding: 24px;
  background: white;
}

.card.no-shadow {
  box-shadow: none;
}

.card.border {
  border: 1px solid #ddd;
}

.skills-icon {
  margin: 0 auto;
  width: 120px;
  margin-bottom: 12px;
}

.skills-title {
  text-align: center;
  font-size: 24px;
  color: var(--primary);
}

body {
  width: 100%;
  overflow-x: auto;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

html {
  box-sizing: border-box;
  /* overflow-y: hidden; */
  scroll-behavior: smooth;
  height: 100%;
}

p {
  font-size: 17px !important;
  margin: 0 0 18px !important;
  line-height: 1.75;
}

@media (min-width: 576px) {
  p {
    font-size: 18px !important;
    margin: 0 0 18px !important;
    line-height: 1.9;
  }
}

.bg-primary {
  background: var(--primary) !important;
  color: white !important;
}

.bg-light {
  background: #f7f7f7 !important;
}

.bg-white {
  background: #ffffff !important;
}

.bg-transparent {
  background: transparent !important;
  color: white !important;
}

.bg-secondary {
  background: #ff6907 !important;
}

.text-primary {
  color: var(--primary) !important;
}

.text-secondary {
  color: #ff6907 !important;
}

.container {
  margin: 0 auto;
  width: 95%;
  max-width: 1350px;
  padding: 64px 12px;
}

@media (min-width: 540px) {
  .container {
    margin: 0 auto;
    padding-left: 18px;
    padding-right: 18px;
  }
}

@media (min-width: 769px) {
  .container {
    padding-left: 28px;
    padding-right: 28px;
  }

  .container.wide {
    margin: 0 auto;
    width: 90%;
  }
}

@media (min-width: 1220px) {
  .container {
    padding-left: 48px;
    padding-right: 48px;
  }
}

.col {
  padding: 8px 0px;
  margin: 0;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  display: block;
}

.row.mobile {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -8px 0 -8px;
  width: calc(100% + 16px);
}

.row.mobile > .col {
  padding: 8px;
}

.row.mobile > .col-1,
.row.mobile .mobile-col-1 {
  width: 8.33333%;
  flex: none;
}
.row.mobile > .col-2,
.row.mobile .mobile-col-2 {
  width: 16.66%;
  flex: none;
}
.row.mobile > .col-3,
.row.mobile .mobile-col-3 {
  width: 25%;
  flex: none;
}
.row.mobile > .col-4,
.row.mobile .mobile-col-4 {
  width: 33.33333%;
  flex: none;
}
.row.mobile > .col-5,
.row.mobile .mobile-col-5 {
  width: 41.66667%;
  flex: none;
}
.row.mobile > .col-6,
.row.mobile .mobile-col-6 {
  width: 50%;
  flex: none;
}
.row.mobile > .col-7,
.row.mobile .mobile-col-7 {
  width: 58.33333%;
  flex: none;
}
.row.mobile > .col-8,
.row.mobile .mobile-col-8 {
  width: 66.66667%;
  flex: none;
}
.row.mobile > .col-9,
.row.mobile .mobile-col-9 {
  width: 75%;
  flex: none;
}
.row.mobile > .col-10,
.row.mobile .mobile-col-10 {
  width: 83.33333%;
  flex: none;
}
.row.mobile > .col-11,
.row.mobile .mobile-col-11 {
  width: 91.66667%;
  flex: none;
}
.row.mobile > .col-12,
.row.mobile .mobile-col-12 {
  width: 100%;
  flex: none;
}

.row.mobile .auto,
.mobile-auto {
  flex: 1 1 0;
}

/* mobile-lg */
@media (min-width: 540px) {
  .row.mobile-lg {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px 0 -8px;
    width: calc(100% + 16px);
  }

  .row.mobile-lg > .col {
    padding: 8px;
  }

  .row.mobile-lg .auto,
  .mobile-auto {
    flex: 1 1 0 !important;
  }

  .row.mobile-lg > .col-1 {
    width: 8.33333%;
    flex: none;
  }
  .row.mobile-lg > .col-2 {
    width: 16.66%;
    flex: none;
  }
  .row.mobile-lg > .col-3 {
    width: 25%;
    flex: none;
  }
  .row.mobile-lg > .col-4 {
    width: 33.33333%;
    flex: none;
  }
  .row.mobile-lg > .col-5 {
    width: 41.66667%;
    flex: none;
  }
  .row.mobile-lg > .col-6 {
    width: 50%;
    flex: none;
  }
  .row.mobile-lg > .col-7 {
    width: 58.33333%;
    flex: none;
  }
  .row.mobile-lg > .col-8 {
    width: 66.66667%;
    flex: none;
  }
  .row.mobile-lg > .col-9 {
    width: 75%;
    flex: none;
  }
  .row.mobile-lg > .col-10 {
    width: 83.33333%;
    flex: none;
  }
  .row.mobile-lg > .col-11 {
    width: 91.66667%;
    flex: none;
  }
  .row.mobile-lg > .col-12 {
    width: 100%;
    flex: none;
  }

  .row > .col.mobile-col-1 {
    flex: none;
    width: 8.33333%;
  }
  .row > .col.mobile-col-2 {
    flex: none;
    width: 16.66%;
  }
  .row > .col.mobile-col-3 {
    flex: none;
    width: 25%;
  }
  .row > .col.mobile-col-4 {
    flex: none;
    width: 33.33333%;
  }
  .row > .col.mobile-col-5 {
    flex: none;
    width: 41.66667%;
  }
  .row > .col.mobile-col-6 {
    flex: none;
    width: 50%;
  }
  .row > .col.mobile-col-7 {
    flex: none;
    width: 58.33333%;
  }
  .row > .col.mobile-col-8 {
    flex: none;
    width: 66.66667%;
  }
  .row > .col.mobile-col-9 {
    flex: none;
    width: 75%;
  }
  .row > .col.mobile-col-10 {
    flex: none;
    width: 83.33333%;
  }
  .row > .col.mobile-col-11 {
    flex: none;
    width: 91.66667%;
  }
  .row > .col.mobile-col-12 {
    flex: none;
    width: 100%;
  }

  .row > .col.mobile-lg-col-1 {
    flex: none;
    width: 8.33333%;
  }
  .row > .col.mobile-lg-col-2 {
    flex: none;
    width: 16.66%;
  }
  .row > .col.mobile-lg-col-3 {
    flex: none;
    width: 25%;
  }
  .row > .col.mobile-lg-col-4 {
    flex: none;
    width: 33.33333%;
  }
  .row > .col.mobile-lg-col-5 {
    flex: none;
    width: 41.66667%;
  }
  .row > .col.mobile-lg-col-6 {
    flex: none;
    width: 50%;
  }
  .row > .col.mobile-lg-col-7 {
    flex: none;
    width: 58.33333%;
  }
  .row > .col.mobile-lg-col-8 {
    flex: none;
    width: 66.66667%;
  }
  .row > .col.mobile-lg-col-9 {
    flex: none;
    width: 75%;
  }
  .row > .col.mobile-lg-col-10 {
    flex: none;
    width: 83.33333%;
  }
  .row > .col.mobile-lg-col-11 {
    flex: none;
    width: 91.66667%;
  }
  .row > .col.mobile-lg-col-12 {
    flex: none;
    width: 100%;
  }

  .mobile-lg-auto {
    flex: 1 1 0 !important;
  }

  .row.desktop > .col,
  .row.widescreen > .col,
  .row > .col {
    width: 100%;
    display: block;
    padding: 8px 0px;
  }
}

/* Tablet */
@media (min-width: 769px) {
  .row.tablet,
  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px 0 -8px;
    width: calc(100% + 16px);
  }

  .row.tablet > .col,
  .row > .col {
    padding: 8px;
  }

  .row > .col.col-1 {
    width: 8.33333%;
    flex: none;
  }
  .row > .col.col-2 {
    width: 16.66%;
    flex: none;
  }
  .row > .col.col-3 {
    width: 25%;
    flex: none;
  }
  .row > .col.col-4 {
    width: 33.33333%;
    flex: none;
  }
  .row > .col.col-5 {
    width: 41.66667%;
    flex: none;
  }
  .row > .col.col-6 {
    width: 50%;
    flex: none;
  }
  .row > .col.col-7 {
    width: 58.33333%;
    flex: none;
  }
  .row > .col.col-8 {
    width: 66.66667%;
    flex: none;
  }
  .row > .col.col-9 {
    width: 75%;
    flex: none;
  }
  .row > .col.col-10 {
    width: 83.33333%;
    flex: none;
  }
  .row > .col.col-11 {
    width: 91.66667%;
    flex: none;
  }
  .row > .col.col-12 {
    width: 100%;
    flex: none;
  }

  .row > .col.mobile-col-1 {
    flex: none;
    width: 8.33333%;
  }
  .row > .col.mobile-col-2 {
    flex: none;
    width: 16.66%;
  }
  .row > .col.mobile-col-3 {
    flex: none;
    width: 25%;
  }
  .row > .col.mobile-col-4 {
    flex: none;
    width: 33.33333%;
  }
  .row > .col.mobile-col-5 {
    flex: none;
    width: 41.66667%;
  }
  .row > .col.mobile-col-6 {
    flex: none;
    width: 50%;
  }
  .row > .col.mobile-col-7 {
    flex: none;
    width: 58.33333%;
  }
  .row > .col.mobile-col-8 {
    flex: none;
    width: 66.66667%;
  }
  .row > .col.mobile-col-9 {
    flex: none;
    width: 75%;
  }
  .row > .col.mobile-col-10 {
    flex: none;
    width: 83.33333%;
  }
  .row > .col.mobile-col-11 {
    flex: none;
    width: 91.66667%;
  }
  .row > .col.mobile-col-12 {
    flex: none;
    width: 100%;
  }

  .row > .col.mobile-lg-col-1 {
    flex: none;
    width: 8.33333%;
  }
  .row > .col.mobile-lg-col-2 {
    flex: none;
    width: 16.66%;
  }
  .row > .col.mobile-lg-col-3 {
    flex: none;
    width: 25%;
  }
  .row > .col.mobile-lg-col-4 {
    flex: none;
    width: 33.33333%;
  }
  .row > .col.mobile-lg-col-5 {
    flex: none;
    width: 41.66667%;
  }
  .row > .col.mobile-lg-col-6 {
    flex: none;
    width: 50%;
  }
  .row > .col.mobile-lg-col-7 {
    flex: none;
    width: 58.33333%;
  }
  .row > .col.mobile-lg-col-8 {
    flex: none;
    width: 66.66667%;
  }
  .row > .col.mobile-lg-col-9 {
    flex: none;
    width: 75%;
  }
  .row > .col.mobile-lg-col-10 {
    flex: none;
    width: 83.33333%;
  }
  .row > .col.mobile-lg-col-11 {
    flex: none;
    width: 91.66667%;
  }
  .row > .col.mobile-lg-col-12 {
    flex: none;
    width: 100%;
  }

  .mobile-lg-auto,
  .row.tablet .auto,
  .auto,
  .mobile-auto {
    flex: 1 1 0 !important;
  }

  .row > .col.tablet-col-1 {
    flex: none;
    width: 8.33333%;
  }
  .row > .col.tablet-col-2 {
    flex: none;
    width: 16.66%;
  }
  .row > .col.tablet-col-3 {
    flex: none;
    width: 25%;
  }
  .row > .col.tablet-col-4 {
    flex: none;
    width: 33.33333%;
  }
  .row > .col.tablet-col-5 {
    flex: none;
    width: 41.66667%;
  }
  .row > .col.tablet-col-6 {
    flex: none;
    width: 50%;
  }
  .row > .col.tablet-col-7 {
    flex: none;
    width: 58.33333%;
  }
  .row > .col.tablet-col-8 {
    flex: none;
    width: 66.66667%;
  }
  .row > .col.tablet-col-9 {
    flex: none;
    width: 75%;
  }
  .row > .col.tablet-col-10 {
    flex: none;
    width: 83.33333%;
  }
  .row > .col.tablet-col-11 {
    flex: none;
    width: 91.66667%;
  }
  .row > .col.tablet-col-12 {
    flex: none;
    width: 100%;
  }

  > .col.tablet-auto {
    flex: 1 1 0 !important;
  }

  .row.desktop > .col,
  .row.widescreen > .col {
    display: block;
    width: 100%;
    flex: none;
    padding: 8px;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .row.desktop {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px 0 -8px;
    width: calc(100% + 16px);
  }

  .row.desktop > .col {
    padding: 8px;
    flex: 1 1 0;
  }

  .row.desktop > .col-1 {
    width: 8.33333%;
    flex: none;
  }
  .row.desktop > .col-2 {
    width: 16.66%;
    flex: none;
  }
  .row.desktop > .col-3 {
    width: 25%;
    flex: none;
  }
  .row.desktop > .col-4 {
    width: 33.33333%;
    flex: none;
  }
  .row.desktop > .col-5 {
    width: 41.66667%;
    flex: none;
  }
  .row.desktop > .col-6 {
    width: 50%;
    flex: none;
  }
  .row.desktop > .col-7 {
    width: 58.33333%;
    flex: none;
  }
  .row.desktop > .col-8 {
    width: 66.66667%;
    flex: none;
  }
  .row.desktop > .col-9 {
    width: 75%;
    flex: none;
  }
  .row.desktop > .col-10 {
    width: 83.33333%;
    flex: none;
  }
  .row.desktop > .col-11 {
    width: 91.66667%;
    flex: none;
  }
  .row.desktop > .col-12 {
    width: 100%;
    flex: none;
  }

  .row.desktop .mobile-col-1 {
    flex: none;
    width: 8.33333%;
  }
  .row.desktop .mobile-col-2 {
    flex: none;
    width: 16.66%;
  }
  .row.desktop .mobile-col-3 {
    flex: none;
    width: 25%;
  }
  .row.desktop .mobile-col-4 {
    flex: none;
    width: 33.33333%;
  }
  .row.desktop .mobile-col-5 {
    flex: none;
    width: 41.66667%;
  }
  .row.desktop .mobile-col-6 {
    flex: none;
    width: 50%;
  }
  .row.desktop .mobile-col-7 {
    flex: none;
    width: 58.33333%;
  }
  .row.desktop .mobile-col-8 {
    flex: none;
    width: 66.66667%;
  }
  .row.desktop .mobile-col-9 {
    flex: none;
    width: 75%;
  }
  .row.desktop .mobile-col-10 {
    flex: none;
    width: 83.33333%;
  }
  .row.desktop .mobile-col-11 {
    flex: none;
    width: 91.66667%;
  }
  .row.desktop .mobile-col-12 {
    flex: none;
    width: 100%;
  }

  .row.desktop .mobile-lg-col-1 {
    flex: none;
    width: 8.33333%;
  }
  .row.desktop .mobile-lg-col-2 {
    flex: none;
    width: 16.66%;
  }
  .row.desktop .mobile-lg-col-3 {
    flex: none;
    width: 25%;
  }
  .row.desktop .mobile-lg-col-4 {
    flex: none;
    width: 33.33333%;
  }
  .row.desktop .mobile-lg-col-5 {
    flex: none;
    width: 41.66667%;
  }
  .row.desktop .mobile-lg-col-6 {
    flex: none;
    width: 50%;
  }
  .row.desktop .mobile-lg-col-7 {
    flex: none;
    width: 58.33333%;
  }
  .row.desktop .mobile-lg-col-8 {
    flex: none;
    width: 66.66667%;
  }
  .row.desktop .mobile-lg-col-9 {
    flex: none;
    width: 75%;
  }
  .row.desktop .mobile-lg-col-10 {
    flex: none;
    width: 83.33333%;
  }
  .row.desktop .mobile-lg-col-11 {
    flex: none;
    width: 91.66667%;
  }
  .row.desktop .mobile-lg-col-12 {
    flex: none;
    width: 100%;
  }

  .row.desktop .tablet-col-1 {
    flex: none;
    width: 8.33333%;
  }
  .row.desktop .tablet-col-2 {
    flex: none;
    width: 16.66%;
  }
  .row.desktop .tablet-col-3 {
    flex: none;
    width: 25%;
  }
  .row.desktop .tablet-col-4 {
    flex: none;
    width: 33.33333%;
  }
  .row.desktop .tablet-col-5 {
    flex: none;
    width: 41.66667%;
  }
  .row.desktop .tablet-col-6 {
    flex: none;
    width: 50%;
  }
  .row.desktop .tablet-col-7 {
    flex: none;
    width: 58.33333%;
  }
  .row.desktop .tablet-col-8 {
    flex: none;
    width: 66.66667%;
  }
  .row.desktop .tablet-col-9 {
    flex: none;
    width: 75%;
  }
  .row.desktop .tablet-col-10 {
    flex: none;
    width: 83.33333%;
  }
  .row.desktop .tablet-col-11 {
    flex: none;
    width: 91.66667%;
  }
  .row.desktop .tablet-col-12 {
    flex: none;
    width: 100%;
  }

  .row > .col.desktop-col-1 {
    flex: none;
    width: 8.33333%;
  }
  .row > .col.desktop-col-2 {
    flex: none;
    width: 16.66%;
  }
  .row > .col.desktop-col-3 {
    flex: none;
    width: 25%;
  }
  .row > .col.desktop-col-4 {
    flex: none;
    width: 33.33333%;
  }
  .row > .col.desktop-col-5 {
    flex: none;
    width: 41.66667%;
  }
  .row > .col.desktop-col-6 {
    flex: none;
    width: 50%;
  }
  .row > .col.desktop-col-7 {
    flex: none;
    width: 58.33333%;
  }
  .row > .col.desktop-col-8 {
    flex: none;
    width: 66.66667%;
  }
  .row > .col.desktop-col-9 {
    flex: none;
    width: 75%;
  }
  .row > .col.desktop-col-10 {
    flex: none;
    width: 83.33333%;
  }
  .row > .col.desktop-col-11 {
    flex: none;
    width: 91.66667%;
  }
  .row > .col.desktop-col-12 {
    flex: none;
    width: 100%;
  }

  .row > .col.desktop-auto {
    flex: 1 1 0 !important;
  }

  .row .widescreen {
    padding: 8px 0px;
    width: 100%;
  }
}

/* Widescreen */
@media (min-width: 1220px) {
  .row.widescreen {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px 0 -8px;
    width: calc(100% + 16px);
  }

  .row.widescreen > .col {
    padding: 8px;
    flex: 1 1 0;
  }

  .row.widescreen > .col-1 {
    width: 8.33333%;
    flex: none;
  }
  .row.widescreen > .col-2 {
    width: 16.66%;
    flex: none;
  }
  .row.widescreen > .col-3 {
    width: 25%;
    flex: none;
  }
  .row.widescreen > .col-4 {
    width: 33.33333%;
    flex: none;
  }
  .row.widescreen > .col-5 {
    width: 41.66667%;
    flex: none;
  }
  .row.widescreen > .col-6 {
    width: 50%;
    flex: none;
  }
  .row.widescreen > .col-7 {
    width: 58.33333%;
    flex: none;
  }
  .row.widescreen > .col-8 {
    width: 66.66667%;
    flex: none;
  }
  .row.widescreen > .col-9 {
    width: 75%;
    flex: none;
  }
  .row.widescreen > .col-10 {
    width: 83.33333%;
    flex: none;
  }
  .row.widescreen > .col-11 {
    width: 91.66667%;
    flex: none;
  }
  .row.widescreen > .col-12 {
    width: 100%;
    flex: none;
  }

  .row.widescreen .mobile-col-1 {
    flex: none;
    width: 8.33333%;
  }
  .row.widescreen .mobile-col-2 {
    flex: none;
    width: 16.66%;
  }
  .row.widescreen .mobile-col-3 {
    flex: none;
    width: 25%;
  }
  .row.widescreen .mobile-col-4 {
    flex: none;
    width: 33.33333%;
  }
  .row.widescreen .mobile-col-5 {
    flex: none;
    width: 41.66667%;
  }
  .row.widescreen .mobile-col-6 {
    flex: none;
    width: 50%;
  }
  .row.widescreen .mobile-col-7 {
    flex: none;
    width: 58.33333%;
  }
  .row.widescreen .mobile-col-8 {
    flex: none;
    width: 66.66667%;
  }
  .row.widescreen .mobile-col-9 {
    flex: none;
    width: 75%;
  }
  .row.widescreen .mobile-col-10 {
    flex: none;
    width: 83.33333%;
  }
  .row.widescreen .mobile-col-11 {
    flex: none;
    width: 91.66667%;
  }
  .row.widescreen .mobile-col-12 {
    flex: none;
    width: 100%;
  }

  .row.widescreen .mobile-lg-col-1 {
    flex: none;
    width: 8.33333%;
  }
  .row.widescreen .mobile-lg-col-2 {
    flex: none;
    width: 16.66%;
  }
  .row.widescreen .mobile-lg-col-3 {
    flex: none;
    width: 25%;
  }
  .row.widescreen .mobile-lg-col-4 {
    flex: none;
    width: 33.33333%;
  }
  .row.widescreen .mobile-lg-col-5 {
    flex: none;
    width: 41.66667%;
  }
  .row.widescreen .mobile-lg-col-6 {
    flex: none;
    width: 50%;
  }
  .row.widescreen .mobile-lg-col-7 {
    flex: none;
    width: 58.33333%;
  }
  .row.widescreen .mobile-lg-col-8 {
    flex: none;
    width: 66.66667%;
  }
  .row.widescreen .mobile-lg-col-9 {
    flex: none;
    width: 75%;
  }
  .row.widescreen .mobile-lg-col-10 {
    flex: none;
    width: 83.33333%;
  }
  .row.widescreen .mobile-lg-col-11 {
    flex: none;
    width: 91.66667%;
  }
  .row.widescreen .mobile-lg-col-12 {
    flex: none;
    width: 100%;
  }

  .row.widescreen .tablet-col-1 {
    flex: none;
    width: 8.33333%;
  }
  .row.widescreen .tablet-col-2 {
    flex: none;
    width: 16.66%;
  }
  .row.widescreen .tablet-col-3 {
    flex: none;
    width: 25%;
  }
  .row.widescreen .tablet-col-4 {
    flex: none;
    width: 33.33333%;
  }
  .row.widescreen .tablet-col-5 {
    flex: none;
    width: 41.66667%;
  }
  .row.widescreen .tablet-col-6 {
    flex: none;
    width: 50%;
  }
  .row.widescreen .tablet-col-7 {
    flex: none;
    width: 58.33333%;
  }
  .row.widescreen .tablet-col-8 {
    flex: none;
    width: 66.66667%;
  }
  .row.widescreen .tablet-col-9 {
    flex: none;
    width: 75%;
  }
  .row.widescreen .tablet-col-10 {
    flex: none;
    width: 83.33333%;
  }
  .row.widescreen .tablet-col-11 {
    flex: none;
    width: 91.66667%;
  }
  .row.widescreen .tablet-col-12 {
    flex: none;
    width: 100%;
  }

  .row.widescreen .desktop-col-1 {
    flex: none;
    width: 8.33333%;
  }
  .row.widescreen .desktop-col-2 {
    flex: none;
    width: 16.66%;
  }
  .row.widescreen .desktop-col-3 {
    flex: none;
    width: 25%;
  }
  .row.widescreen .desktop-col-4 {
    flex: none;
    width: 33.33333%;
  }
  .row.widescreen .desktop-col-5 {
    flex: none;
    width: 41.66667%;
  }
  .row.widescreen .desktop-col-6 {
    flex: none;
    width: 50%;
  }
  .row.widescreen .desktop-col-7 {
    flex: none;
    width: 58.33333%;
  }
  .row.widescreen .desktop-col-8 {
    flex: none;
    width: 66.66667%;
  }
  .row.widescreen .desktop-col-9 {
    flex: none;
    width: 75%;
  }
  .row.widescreen .desktop-col-10 {
    flex: none;
    width: 83.33333%;
  }
  .row.widescreen .desktop-col-11 {
    flex: none;
    width: 91.66667%;
  }
  .row.widescreen .desktop-col-12 {
    flex: none;
    width: 100%;
  }

  .row > .col.widescreen-col-1 {
    flex: none;
    width: 8.33333%;
  }
  .row > .col.widescreen-col-2 {
    flex: none;
    width: 16.66%;
  }
  .row > .col.widescreen-col-3 {
    flex: none;
    width: 25%;
  }
  .row > .col.widescreen-col-4 {
    flex: none;
    width: 33.33333%;
  }
  .row > .col.widescreen-col-5 {
    flex: none;
    width: 41.66667%;
  }
  .row > .col.widescreen-col-6 {
    flex: none;
    width: 50%;
  }
  .row > .col.widescreen-col-7 {
    flex: none;
    width: 58.33333%;
  }
  .row > .col.widescreen-col-8 {
    flex: none;
    width: 66.66667%;
  }
  .row > .col.widescreen-col-9 {
    flex: none;
    width: 75%;
  }
  .row > .col.widescreen-col-10 {
    flex: none;
    width: 83.33333%;
  }
  .row > .col.widescreen-col-11 {
    flex: none;
    width: 91.66667%;
  }
  .row > .col.widescreen-col-12 {
    flex: none;
    width: 100%;
  }
}

.mobile-offset-1 {
  margin-left: 8.33333% !important;
}
.mobile-offset-2 {
  margin-left: 16.66% !important;
}
.mobile-offset-3 {
  margin-left: 25% !important;
}
.mobile-offset-4 {
  margin-left: 33.33333% !important;
}
.mobile-offset-5 {
  margin-left: 41.66667% !important;
}
.mobile-offset-6 {
  margin-left: 50% !important;
}
.mobile-offset-7 {
  margin-left: 58.33333% !important;
}
.mobile-offset-8 {
  margin-left: 66.66667% !important;
}
.mobile-offset-9 {
  margin-left: 75% !important;
}
.mobile-offset-10 {
  margin-left: 83.33333% !important;
}
.mobile-offset-11 {
  margin-left: 91.66667% !important;
}
.mobile-offset-12 {
  margin-left: 100% !important;
}
.mobile-offset-none {
  margin: 0 !important;
}

.row [class^='offset-'] {
  margin: 0 !important;
}

@media (min-width: 540px) {
  .mobile-lg-offset-1 {
    margin-left: 8.33333% !important;
  }
  .mobile-lg-offset-2 {
    margin-left: 16.66% !important;
  }
  .mobile-lg-offset-3 {
    margin-left: 25% !important;
  }
  .mobile-lg-offset-4 {
    margin-left: 33.33333% !important;
  }
  .mobile-lg-offset-5 {
    margin-left: 41.66667% !important;
  }
  .mobile-lg-offset-6 {
    margin-left: 50% !important;
  }
  .mobile-lg-offset-7 {
    margin-left: 58.33333% !important;
  }
  .mobile-lg-offset-8 {
    margin-left: 66.66667% !important;
  }
  .mobile-lg-offset-9 {
    margin-left: 75% !important;
  }
  .mobile-lg-offset-10 {
    margin-left: 83.33333% !important;
  }
  .mobile-lg-offset-11 {
    margin-left: 91.66667% !important;
  }
  .mobile-lg-offset-12 {
    margin-left: 100% !important;
  }
  .row.mobile-lg .offset-none,
  .mobile-lg-offset-none {
    margin: 0 !important;
  }
}

@media (min-width: 769px) {
  .tablet-offset-1,
  .offset-1 {
    margin-left: 8.33333% !important;
  }
  .tablet-offset-2,
  .offset-2 {
    margin-left: 16.66% !important;
  }
  .tablet-offset-3,
  .offset-3 {
    margin-left: 25% !important;
  }
  .tablet-offset-4,
  .offset-4 {
    margin-left: 33.33333% !important;
  }
  .tablet-offset-5,
  .offset-5 {
    margin-left: 41.66667% !important;
  }
  .tablet-offset-6,
  .offset-6 {
    margin-left: 50% !important;
  }
  .tablet-offset-7,
  .offset-7 {
    margin-left: 58.33333% !important;
  }
  .tablet-offset-8,
  .offset-8 {
    margin-left: 66.66667% !important;
  }
  .tablet-offset-9,
  .offset-9 {
    margin-left: 75% !important;
  }
  .tablet-offset-10,
  .offset-10 {
    margin-left: 83.33333% !important;
  }
  .tablet-offset-11,
  .offset-11 {
    margin-left: 91.66667% !important;
  }
  .tablet-offset-12,
  .offset-12 {
    margin-left: 100% !important;
  }
  .tablet-offset-none,
  .offset-none {
    margin-left: 0 !important;
  }
}

@media (min-width: 769px) and (max-width: 1023px) {
  .row.desktop [class*='offset'],
  .row.widescreen [class*='offset'] {
    margin: 0 !important;
  }
}

@media (min-width: 1024px) and (max-width: 1219px) {
  .row.widescreen [class*='offset'] {
    margin: 0 !important;
  }
}

@media (min-width: 1024px) {
  .desktop-offset-1 {
    margin-left: 8.33333% !important;
  }
  .desktop-offset-2 {
    margin-left: 16.66% !important;
  }
  .desktop-offset-3 {
    margin-left: 25% !important;
  }
  .desktop-offset-4 {
    margin-left: 33.33333% !important;
  }
  .desktop-offset-5 {
    margin-left: 41.66667% !important;
  }
  .desktop-offset-6 {
    margin-left: 50% !important;
  }
  .desktop-offset-7 {
    margin-left: 58.33333% !important;
  }
  .desktop-offset-8 {
    margin-left: 66.66667% !important;
  }
  .desktop-offset-9 {
    margin-left: 75% !important;
  }
  .desktop-offset-10 {
    margin-left: 83.33333% !important;
  }
  .desktop-offset-11 {
    margin-left: 91.66667% !important;
  }
  .desktop-offset-12 {
    margin-left: 100% !important;
  }
  .desktop-offset-none {
    margin: 0 !important;
  }
}

@media (min-width: 1220px) {
  .widescreen-offset-1 {
    margin-left: 8.33333% !important;
  }
  .widescreen-offset-2 {
    margin-left: 16.66% !important;
  }
  .widescreen-offset-3 {
    margin-left: 25% !important;
  }
  .widescreen-offset-4 {
    margin-left: 33.33333% !important;
  }
  .widescreen-offset-5 {
    margin-left: 41.66667% !important;
  }
  .widescreen-offset-6 {
    margin-left: 50% !important;
  }
  .widescreen-offset-7 {
    margin-left: 58.33333% !important;
  }
  .widescreen-offset-8 {
    margin-left: 66.66667% !important;
  }
  .widescreen-offset-9 {
    margin-left: 75% !important;
  }
  .widescreen-offset-10 {
    margin-left: 83.33333% !important;
  }
  .widescreen-offset-11 {
    margin-left: 91.66667% !important;
  }
  .widescreen-offset-12 {
    margin-left: 100% !important;
  }
  .row.widescreen .offset-none,
  .widescreen-offset-none {
    margin: 0 !important;
  }
}

/* Collection Items
----------------------------------------------------------------
----------------------------------------------------------------*/

.collection-item {
  padding: 12.5px;
  list-style: none;
  margin: 0;
  border: 1px solid var(--light-gray);
  border-bottom: none;
  font-weight: 500;
  display: block;
  line-height: inherit;
}

.collection-item.head {
  font-weight: bold;
  font-size: 17px;
  background: var(--lightest-gray);
}

.collection-item:hover {
  box-shadow: none;
  position: static;
  line-height: inherit;
}

.collection-item:first-child {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.collection-item:last-child {
  border-bottom: 1px solid var(--light-gray);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.collection.dark > .collection-item {
  background: var(--lightest-gray);
  border: 1px solid #c2c2c2;
  border-bottom: none;
}

.collection.dark > .collection-item.head {
  background: var(--medium-gray);
  border: 1px solid #c2c2c2;
}

.collection.dark > .collection-item:last-child {
  border-bottom: 1px solid #c2c2c2;
}

.collection.links > .collection-item {
  cursor: pointer;
  display: block;
  padding: 15px;
  font-weight: 500 !important;
  line-height: inherit;
  color: inherit;
}

.collection.links > .collection-item:hover {
  background: var(--lighter-gray);
  cursor: pointer;
  box-shadow: none;
  position: static;
  line-height: inherit;
}

.collection.links > .collection-item:active {
  background: var(--primary);
  cursor: pointer;
  color: white;
  box-shadow: none;
}

.collection.spaced > .collection-item {
  margin: 5px 0;
  border: 1px solid var(--light-gray);
  border-radius: 0;
}

.collection-item .right {
  float: right;
}

/* Navbar
 ---------------------------------------------------------------
 ---------------------------------------------------------------*/

#navbar {
  width: 100% !important;
  z-index: 999 !important;
  /* margin-top: 16px; */
  padding: 48px 0;
  height: 60px;
  position: fixed;
  top: 0;
  transition: all 0.25s;
}

#navbar .container {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

#navbar.fixed {
  position: fixed;
  top: 0;
  box-shadow: 0 20px 40px -25px rgb(78, 78, 78);
  height: 55px;
  padding: 0;
  transition: all 0.25s;
}

.navbar-content {
  padding: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-left {
  flex: 1 1 0;
  display: flex;
  align-items: center;
}

.navbar-left a {
  color: white !important;
  display: block;
  height: fit-content;
  width: fit-content;
}

.navbar-title {
  font-size: 28px;
  margin: 0;
}

.navbar-right {
  width: fit-content;
  display: flex;
  align-items: center;
}

.navbar-right .hidden-above-tablet {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  height: 100%;
}

.full-height {
  height: 100% !important;
}

.menu-item {
  height: 100% !important;
  display: flex;
  align-items: center;
  margin: 0;
  position: relative;
  padding: 0 12px;
}

.menu-item > a {
  display: block;
  /* line-height: 100%; */
  box-shadow: none;
  color: inherit;
  width: 100%;
  text-decoration: none;
  font-size: 20px;
}

.menu-item:active {
  /* background: rgba(255, 255, 255, 0.466); */
  transform: scale(1.1);
  transition-duration: 0.5s;
}

@media (hover) {
  .menu-item:hover {
    /* background: rgba(255, 255, 255, 0.466); */
    box-shadow: inset 100px 50px 200px -100px rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition-duration: 0.5s;
  }
}

/* TYPOGRAPHY
 ---------------------------------------------------------------
 ---------------------------------------------------------------*/

html,
body {
  font-family: 'Montserrat';
  font-weight: 400;
}

* {
  font-family: 'Montserrat';
}

p {
  line-height: 25px;
  font-size: 16px;
}

small {
  font-size: 14px;
}

/* Display & Positioning Modifiers
 ---------------------------------------------------------------
 ---------------------------------------------------------------*/

.display-block {
  display: block !important;
}
.display-inline {
  display: inline !important;
}
.display-inline-block {
  display: inline-block !important;
}
.display-flex {
  display: flex;
}

.align-left {
  justify-content: flex-start !important;
}
.align-center {
  justify-content: center !important;
}
.align-right {
  justify-content: flex-end !important;
}
.space-around {
  justify-content: space-around !important;
}
.space-between {
  justify-content: space-between !important;
}

.v-align-top {
  align-items: flex-start !important;
}
.v-align-center {
  align-items: center !important;
}
.v-align-bottom {
  align-items: flex-end !important;
}

.position-relative {
  position: relative !important;
}
.position-absolute {
  position: absolute !important;
}
.position-sticky {
  position: sticky !important;
}
.position-fixed {
  position: relative !important;
}

.top-none {
  top: var(--space-none);
}
.top-xxs {
  top: var(--space-xxs);
}
.top-xs {
  top: var(--space-xs);
}
.top-sm {
  top: var(--space-sm);
}
.top-md {
  top: var(--space-md);
}
.top-lg {
  top: var(--space-lg);
}
.top-xl {
  top: var(--space-xl);
}
.top-xxl {
  top: var(--space-xxl);
}

.right-none {
  right: var(--space-none);
}
.right-xxs {
  right: var(--space-xxs);
}
.right-xs {
  right: var(--space-xs);
}
.right-sm {
  right: var(--space-sm);
}
.right-md {
  right: var(--space-md);
}
.right-lg {
  right: var(--space-lg);
}
.right-xl {
  right: var(--space-xl);
}
.right-xxl {
  right: var(--space-xxl);
}

.bottom-none {
  bottom: var(--space-none);
}
.bottom-xxs {
  bottom: var(--space-xxs);
}
.bottom-xs {
  bottom: var(--space-xs);
}
.bottom-sm {
  bottom: var(--space-sm);
}
.bottom-md {
  bottom: var(--space-md);
}
.bottom-lg {
  bottom: var(--space-lg);
}
.bottom-xl {
  bottom: var(--space-xl);
}
.bottom-xxl {
  bottom: var(--space-xxl);
}

.left-none {
  left: var(--space-none);
}
.left-xxs {
  left: var(--space-xxs);
}
.left-xs {
  left: var(--space-xs);
}
.left-sm {
  left: var(--space-sm);
}
.left-md {
  left: var(--space-md);
}
.left-lg {
  left: var(--space-lg);
}
.left-xl {
  left: var(--space-xl);
}
.left-xxl {
  left: var(--space-xxl);
}

/* Mobile Large Display and Positioning 
---------------------------------------------*/
@media (min-width: 540px) {
  .mobile-lg-display-block {
    display: block !important;
  }
  .mobile-lg-display-inline {
    display: inline !important;
  }
  .mobile-lg-display-inline-block {
    display: inline-block !important;
  }
  .mobile-lg-display-flex {
    display: flex;
  }

  .mobile-lg-align-left {
    justify-content: flex-start !important;
  }
  .mobile-lg-align-center {
    justify-content: center !important;
  }
  .mobile-lg-align-right {
    justify-content: flex-end !important;
  }
  .mobile-lg-space-around {
    justify-content: space-around !important;
  }
  .mobile-lg-space-between {
    justify-content: space-between !important;
  }

  .mobile-lg-v-align-top {
    align-items: flex-start !important;
  }
  .mobile-lg-v-align-center {
    align-items: center !important;
  }
  .mobile-lg-v-align-bottom {
    align-items: flex-end !important;
  }

  .mobile-lg-position-relative {
    position: relative !important;
  }
  .mobile-lg-position-absolute {
    position: absolute !important;
  }
  .mobile-lg-position-sticky {
    position: sticky !important;
  }
  .mobile-lg-position-fixed {
    position: relative !important;
  }

  .mobile-lg-top-none {
    top: var(--space-none);
  }
  .mobile-lg-top-xxs {
    top: var(--space-xxs);
  }
  .mobile-lg-top-xs {
    top: var(--space-xs);
  }
  .mobile-lg-top-sm {
    top: var(--space-sm);
  }
  .mobile-lg-top-md {
    top: var(--space-md);
  }
  .mobile-lg-top-lg {
    top: var(--space-lg);
  }
  .mobile-lg-top-xl {
    top: var(--space-xl);
  }
  .mobile-lg-top-xxl {
    top: var(--space-xxl);
  }

  .mobile-lg-right-none {
    right: var(--space-none);
  }
  .mobile-lg-right-xxs {
    right: var(--space-xxs);
  }
  .mobile-lg-right-xs {
    right: var(--space-xs);
  }
  .mobile-lg-right-sm {
    right: var(--space-sm);
  }
  .mobile-lg-right-md {
    right: var(--space-md);
  }
  .mobile-lg-right-lg {
    right: var(--space-lg);
  }
  .mobile-lg-right-xl {
    right: var(--space-xl);
  }
  .mobile-lg-right-xxl {
    right: var(--space-xxl);
  }

  .mobile-lg-bottom-none {
    bottom: var(--space-none);
  }
  .mobile-lg-bottom-xxs {
    bottom: var(--space-xxs);
  }
  .mobile-lg-bottom-xs {
    bottom: var(--space-xs);
  }
  .mobile-lg-bottom-sm {
    bottom: var(--space-sm);
  }
  .mobile-lg-bottom-md {
    bottom: var(--space-md);
  }
  .mobile-lg-bottom-lg {
    bottom: var(--space-lg);
  }
  .mobile-lg-bottom-xl {
    bottom: var(--space-xl);
  }
  .mobile-lg-bottom-xxl {
    bottom: var(--space-xxl);
  }

  .mobile-lg-left-none {
    left: var(--space-none);
  }
  .mobile-lg-left-xxs {
    left: var(--space-xxs);
  }
  .mobile-lg-left-xs {
    left: var(--space-xs);
  }
  .mobile-lg-left-sm {
    left: var(--space-sm);
  }
  .mobile-lg-left-md {
    left: var(--space-md);
  }
  .mobile-lg-left-lg {
    left: var(--space-lg);
  }
  .mobile-lg-left-xl {
    left: var(--space-xl);
  }
  .mobile-lg-left-xxl {
    left: var(--space-xxl);
  }
}

/* Tablet Display and Positioning 
---------------------------------------------*/
@media (min-width: 769px) {
  .tablet-display-block {
    display: block !important;
  }
  .tablet-display-inline {
    display: inline !important;
  }
  .tablet-display-inline-block {
    display: inline-block !important;
  }
  .tablet-display-flex {
    display: flex;
  }

  .tablet-align-left {
    justify-content: flex-start !important;
  }
  .tablet-align-center {
    justify-content: center !important;
  }
  .tablet-align-right {
    justify-content: flex-end !important;
  }
  .tablet-space-around {
    justify-content: space-around !important;
  }
  .tablet-space-between {
    justify-content: space-between !important;
  }

  .tablet-v-align-top {
    align-items: flex-start !important;
  }
  .tablet-v-align-center {
    align-items: center !important;
  }
  .tablet-v-align-bottom {
    align-items: flex-end !important;
  }

  .tablet-position-relative {
    position: relative !important;
  }
  .tablet-position-absolute {
    position: absolute !important;
  }
  .tablet-position-sticky {
    position: sticky !important;
  }
  .tablet-position-fixed {
    position: relative !important;
  }

  .tablet-top-none {
    top: var(--space-none);
  }
  .tablet-top-xxs {
    top: var(--space-xxs);
  }
  .tablet-top-xs {
    top: var(--space-xs);
  }
  .tablet-top-sm {
    top: var(--space-sm);
  }
  .tablet-top-md {
    top: var(--space-md);
  }
  .tablet-top-lg {
    top: var(--space-lg);
  }
  .tablet-top-xl {
    top: var(--space-xl);
  }
  .tablet-top-xxl {
    top: var(--space-xxl);
  }

  .tablet-right-none {
    right: var(--space-none);
  }
  .tablet-right-xxs {
    right: var(--space-xxs);
  }
  .tablet-right-xs {
    right: var(--space-xs);
  }
  .tablet-right-sm {
    right: var(--space-sm);
  }
  .tablet-right-md {
    right: var(--space-md);
  }
  .tablet-right-lg {
    right: var(--space-lg);
  }
  .tablet-right-xl {
    right: var(--space-xl);
  }
  .tablet-right-xxl {
    right: var(--space-xxl);
  }

  .tablet-bottom-none {
    bottom: var(--space-none);
  }
  .tablet-bottom-xxs {
    bottom: var(--space-xxs);
  }
  .tablet-bottom-xs {
    bottom: var(--space-xs);
  }
  .tablet-bottom-sm {
    bottom: var(--space-sm);
  }
  .tablet-bottom-md {
    bottom: var(--space-md);
  }
  .tablet-bottom-lg {
    bottom: var(--space-lg);
  }
  .tablet-bottom-xl {
    bottom: var(--space-xl);
  }
  .tablet-bottom-xxl {
    bottom: var(--space-xxl);
  }

  .tablet-left-none {
    left: var(--space-none);
  }
  .tablet-left-xxs {
    left: var(--space-xxs);
  }
  .tablet-left-xs {
    left: var(--space-xs);
  }
  .tablet-left-sm {
    left: var(--space-sm);
  }
  .tablet-left-md {
    left: var(--space-md);
  }
  .tablet-left-lg {
    left: var(--space-lg);
  }
  .tablet-left-xl {
    left: var(--space-xl);
  }
  .tablet-left-xxl {
    left: var(--space-xxl);
  }
}

/* Desktop Display and Positioning 
---------------------------------------------*/
@media (min-width: 1024px) {
  .desktop-display-block {
    display: block !important;
  }
  .desktop-display-inline {
    display: inline !important;
  }
  .desktop-display-inline-block {
    display: inline-block !important;
  }
  .desktop-display-flex {
    display: flex;
  }

  .desktop-align-left {
    justify-content: flex-start !important;
  }
  .desktop-align-center {
    justify-content: center !important;
  }
  .desktop-align-right {
    justify-content: flex-end !important;
  }
  .desktop-space-around {
    justify-content: space-around !important;
  }
  .desktop-space-between {
    justify-content: space-between !important;
  }

  .desktop-v-align-top {
    align-items: flex-start !important;
  }
  .desktop-v-align-center {
    align-items: center !important;
  }
  .desktop-v-align-bottom {
    align-items: flex-end !important;
  }

  .desktop-position-relative {
    position: relative !important;
  }
  .desktop-position-absolute {
    position: absolute !important;
  }
  .desktop-position-sticky {
    position: sticky !important;
  }
  .desktop-position-fixed {
    position: relative !important;
  }

  .desktop-top-none {
    top: var(--space-none);
  }
  .desktop-top-xxs {
    top: var(--space-xxs);
  }
  .desktop-top-xs {
    top: var(--space-xs);
  }
  .desktop-top-sm {
    top: var(--space-sm);
  }
  .desktop-top-md {
    top: var(--space-md);
  }
  .desktop-top-lg {
    top: var(--space-lg);
  }
  .desktop-top-xl {
    top: var(--space-xl);
  }
  .desktop-top-xxl {
    top: var(--space-xxl);
  }

  .desktop-right-none {
    right: var(--space-none);
  }
  .desktop-right-xxs {
    right: var(--space-xxs);
  }
  .desktop-right-xs {
    right: var(--space-xs);
  }
  .desktop-right-sm {
    right: var(--space-sm);
  }
  .desktop-right-md {
    right: var(--space-md);
  }
  .desktop-right-lg {
    right: var(--space-lg);
  }
  .desktop-right-xl {
    right: var(--space-xl);
  }
  .desktop-right-xxl {
    right: var(--space-xxl);
  }

  .desktop-bottom-none {
    bottom: var(--space-none);
  }
  .desktop-bottom-xxs {
    bottom: var(--space-xxs);
  }
  .desktop-bottom-xs {
    bottom: var(--space-xs);
  }
  .desktop-bottom-sm {
    bottom: var(--space-sm);
  }
  .desktop-bottom-md {
    bottom: var(--space-md);
  }
  .desktop-bottom-lg {
    bottom: var(--space-lg);
  }
  .desktop-bottom-xl {
    bottom: var(--space-xl);
  }
  .desktop-bottom-xxl {
    bottom: var(--space-xxl);
  }

  .desktop-left-none {
    left: var(--space-none);
  }
  .desktop-left-xxs {
    left: var(--space-xxs);
  }
  .desktop-left-xs {
    left: var(--space-xs);
  }
  .desktop-left-sm {
    left: var(--space-sm);
  }
  .desktop-left-md {
    left: var(--space-md);
  }
  .desktop-left-lg {
    left: var(--space-lg);
  }
  .desktop-left-xl {
    left: var(--space-xl);
  }
  .desktop-left-xxl {
    left: var(--space-xxl);
  }
}

/* Widescreen Display and Positioning 
---------------------------------------------*/
@media (min-width: 1220px) {
  .widescreen-display-block {
    display: block !important;
  }
  .widescreen-display-inline {
    display: inline !important;
  }
  .widescreen-display-inline-block {
    display: inline-block !important;
  }
  .widescreen-display-flex {
    display: flex;
  }

  .widescreen-align-left {
    justify-content: flex-start !important;
  }
  .widescreen-align-center {
    justify-content: center !important;
  }
  .widescreen-align-right {
    justify-content: flex-end !important;
  }
  .widescreen-space-around {
    justify-content: space-around !important;
  }
  .widescreen-space-between {
    justify-content: space-between !important;
  }

  .widescreen-v-align-top {
    align-items: flex-start !important;
  }
  .widescreen-v-align-center {
    align-items: center !important;
  }
  .widescreen-v-align-bottom {
    align-items: flex-end !important;
  }

  .widescreen-position-relative {
    position: relative !important;
  }
  .widescreen-position-absolute {
    position: absolute !important;
  }
  .widescreen-position-sticky {
    position: sticky !important;
  }
  .widescreen-position-fixed {
    position: relative !important;
  }

  .widescreen-top-none {
    top: var(--space-none);
  }
  .widescreen-top-xxs {
    top: var(--space-xxs);
  }
  .widescreen-top-xs {
    top: var(--space-xs);
  }
  .widescreen-top-sm {
    top: var(--space-sm);
  }
  .widescreen-top-md {
    top: var(--space-md);
  }
  .widescreen-top-lg {
    top: var(--space-lg);
  }
  .widescreen-top-xl {
    top: var(--space-xl);
  }
  .widescreen-top-xxl {
    top: var(--space-xxl);
  }

  .widescreen-right-none {
    right: var(--space-none);
  }
  .widescreen-right-xxs {
    right: var(--space-xxs);
  }
  .widescreen-right-xs {
    right: var(--space-xs);
  }
  .widescreen-right-sm {
    right: var(--space-sm);
  }
  .widescreen-right-md {
    right: var(--space-md);
  }
  .widescreen-right-lg {
    right: var(--space-lg);
  }
  .widescreen-right-xl {
    right: var(--space-xl);
  }
  .widescreen-right-xxl {
    right: var(--space-xxl);
  }

  .widescreen-bottom-none {
    bottom: var(--space-none);
  }
  .widescreen-bottom-xxs {
    bottom: var(--space-xxs);
  }
  .widescreen-bottom-xs {
    bottom: var(--space-xs);
  }
  .widescreen-bottom-sm {
    bottom: var(--space-sm);
  }
  .widescreen-bottom-md {
    bottom: var(--space-md);
  }
  .widescreen-bottom-lg {
    bottom: var(--space-lg);
  }
  .widescreen-bottom-xl {
    bottom: var(--space-xl);
  }
  .widescreen-bottom-xxl {
    bottom: var(--space-xxl);
  }

  .widescreen-left-none {
    left: var(--space-none);
  }
  .widescreen-left-xxs {
    left: var(--space-xxs);
  }
  .widescreen-left-xs {
    left: var(--space-xs);
  }
  .widescreen-left-sm {
    left: var(--space-sm);
  }
  .widescreen-left-md {
    left: var(--space-md);
  }
  .widescreen-left-lg {
    left: var(--space-lg);
  }
  .widescreen-left-xl {
    left: var(--space-xl);
  }
  .widescreen-left-xxl {
    left: var(--space-xxl);
  }
}

/* Visibility Modifiers 
---------------------------------------------*/
@media (min-width: 540px) {
  .hidden-above-mobile-lg {
    display: none !important;
  }
}

@media (min-width: 769px) {
  .hidden-above-tablet {
    display: none !important;
  }
}

@media (min-width: 1024px) {
  .hidden-above-desktop {
    display: none !important;
  }
}

@media (max-width: 1219px) {
  .hidden-below-widescreen {
    display: none !important;
  }
}

@media (max-width: 1023px) {
  .hidden-below-desktop {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .hidden-below-tablet {
    display: none !important;
  }
}

@media (max-width: 540px) {
  .hidden-below-mobile-lg {
    display: none !important;
  }
}

/* Layout Modifiers
 ---------------------------------------------------------------
 ---------------------------------------------------------------*/

.float-right::after,
.float-left::after,
.clear-float {
  content: '';
  display: table;
  clear: both;
}

.full-width {
  width: 100%;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.center-text {
  text-align: center !important;
}

.align-text-left {
  text-align: left !important;
}

.align-text-right {
  text-align: right !important;
}

@media (min-width: 540px) {
  .mobile-lg-center-text {
    text-align: center !important;
  }

  .mobile-lg-align-text-left {
    text-align: left !important;
  }

  .mobile-lg-align-text-right {
    text-align: right !important;
  }
}

@media (min-width: 769px) {
  .tablet-center-text {
    text-align: center !important;
  }

  .tablet-align-text-left {
    text-align: left !important;
  }

  .tablet-align-text-right {
    text-align: right !important;
  }
}

@media (min-width: 1024px) {
  .desktop-center-text {
    text-align: center !important;
  }

  .desktop-align-text-left {
    text-align: left !important;
  }

  .desktop-align-text-right {
    text-align: right !important;
  }
}

@media (min-width: 1220px) {
  .widescreen-center-text {
    text-align: center !important;
  }

  .widescreen-align-text-left {
    text-align: left !important;
  }

  .widescreen-align-text-right {
    text-align: right !important;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat';
}

.m-none {
  margin: 0 !important;
}
