/* LAYOUT AND GRID SYSTEM
--------------------------------------------------------------- */

@import url('https://overpass-30e2.kxcdn.com/overpass.css');

#blur {
  transition: all 0.25s ease-in-out;
  min-height: 100vh;
  max-height: 99999999999999999px !important;
}

.blur {
  filter: blur(14px);
  transition: all 0.25s ease-in-out;
}

a.no-styling {
  text-decoration: none;
}

button a:hover {
  color: inherit !important;
}

* {
  box-sizing: border-box;
}

:root {
  --space-none: 0;
  --space-xxs: 8px;
  --space-xs: 16px;
  --space-sm: 24px;
  --space-md: 32px;
  --space-lg: 48px;
  --space-xl: 64px;
  --space-xxl: 72px;

  --primary: rgb(81, 160, 249);
  --primary-2: rgb(25, 48, 92);
  --secondary: rgb(253, 99, 71);
  --button-color: linear-gradient(
    to right top,
    rgb(80, 202, 249),
    rgb(83, 104, 241)
  );
  --button-color-secondary: linear-gradient(
    to right top,
    rgb(249, 170, 80),
    rgb(241, 116, 58)
  );
}

body {
  width: 100%;
  overflow-x: auto;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  color: #3e4348;
  font-family: 'Montserrat';
  font-weight: 400;
}

html {
  box-sizing: border-box;
  /* overflow-y: hidden; */
  scroll-behavior: smooth;
  font-family: 'Montserrat';
  font-weight: 400;
  width: 100%;
  color: #3e4348;
}

.container {
  margin: 0 auto;
  width: 95%;
  max-width: 1350px;
  padding: 60px 12px;
}

@media (min-width: 540px) {
  .container {
    margin: 0 auto;
    padding-left: 18px;
    padding-right: 18px;
  }
}

@media (min-width: 769px) {
  .container {
    padding-left: 28px;
    padding-right: 28px;
  }

  .container.wide {
    margin: 0 auto;
    width: 90%;
  }
}

@media (min-width: 1220px) {
  .container {
    padding-left: 48px;
    padding-right: 48px;
  }
}

/*
.col {
  padding: 8px 0px;
  margin: 0;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  display: block;
}

.row.mobile {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -8px 0 -8px;
  width: calc(100% + 16px);
}

.row.mobile > .col {
  padding: 8px;
}

.row.mobile > .col-1,
.row.mobile .mobile-col-1 {
  width: 8.33333%;
  flex: none;
}
.row.mobile > .col-2,
.row.mobile .mobile-col-2 {
  width: 16.66%;
  flex: none;
}
.row.mobile > .col-3,
.row.mobile .mobile-col-3 {
  width: 25%;
  flex: none;
}
.row.mobile > .col-4,
.row.mobile .mobile-col-4 {
  width: 33.33333%;
  flex: none;
}
.row.mobile > .col-5,
.row.mobile .mobile-col-5 {
  width: 41.66667%;
  flex: none;
}
.row.mobile > .col-6,
.row.mobile .mobile-col-6 {
  width: 50%;
  flex: none;
}
.row.mobile > .col-7,
.row.mobile .mobile-col-7 {
  width: 58.33333%;
  flex: none;
}
.row.mobile > .col-8,
.row.mobile .mobile-col-8 {
  width: 66.66667%;
  flex: none;
}
.row.mobile > .col-9,
.row.mobile .mobile-col-9 {
  width: 75%;
  flex: none;
}
.row.mobile > .col-10,
.row.mobile .mobile-col-10 {
  width: 83.33333%;
  flex: none;
}
.row.mobile > .col-11,
.row.mobile .mobile-col-11 {
  width: 91.66667%;
  flex: none;
}
.row.mobile > .col-12,
.row.mobile .mobile-col-12 {
  width: 100%;
  flex: none;
}

.row.mobile .auto,
.mobile-auto {
  flex: 1 1 0;
}

// mobile-lg
@media (min-width: 540px) {
  .row.mobile-lg {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px 0 -8px;
    width: calc(100% + 16px);
  }

  .row.mobile-lg > .col {
    padding: 8px;
  }

  .row.mobile-lg .auto,
  .mobile-auto {
    flex: 1 1 0 !important;
  }

  .row.mobile-lg > .col-1 {
    width: 8.33333%;
    flex: none;
  }
  .row.mobile-lg > .col-2 {
    width: 16.66%;
    flex: none;
  }
  .row.mobile-lg > .col-3 {
    width: 25%;
    flex: none;
  }
  .row.mobile-lg > .col-4 {
    width: 33.33333%;
    flex: none;
  }
  .row.mobile-lg > .col-5 {
    width: 41.66667%;
    flex: none;
  }
  .row.mobile-lg > .col-6 {
    width: 50%;
    flex: none;
  }
  .row.mobile-lg > .col-7 {
    width: 58.33333%;
    flex: none;
  }
  .row.mobile-lg > .col-8 {
    width: 66.66667%;
    flex: none;
  }
  .row.mobile-lg > .col-9 {
    width: 75%;
    flex: none;
  }
  .row.mobile-lg > .col-10 {
    width: 83.33333%;
    flex: none;
  }
  .row.mobile-lg > .col-11 {
    width: 91.66667%;
    flex: none;
  }
  .row.mobile-lg > .col-12 {
    width: 100%;
    flex: none;
  }

  .row > .col.mobile-col-1 {
    flex: none;
    width: 8.33333%;
  }
  .row > .col.mobile-col-2 {
    flex: none;
    width: 16.66%;
  }
  .row > .col.mobile-col-3 {
    flex: none;
    width: 25%;
  }
  .row > .col.mobile-col-4 {
    flex: none;
    width: 33.33333%;
  }
  .row > .col.mobile-col-5 {
    flex: none;
    width: 41.66667%;
  }
  .row > .col.mobile-col-6 {
    flex: none;
    width: 50%;
  }
  .row > .col.mobile-col-7 {
    flex: none;
    width: 58.33333%;
  }
  .row > .col.mobile-col-8 {
    flex: none;
    width: 66.66667%;
  }
  .row > .col.mobile-col-9 {
    flex: none;
    width: 75%;
  }
  .row > .col.mobile-col-10 {
    flex: none;
    width: 83.33333%;
  }
  .row > .col.mobile-col-11 {
    flex: none;
    width: 91.66667%;
  }
  .row > .col.mobile-col-12 {
    flex: none;
    width: 100%;
  }

  .row > .col.mobile-lg-col-1 {
    flex: none;
    width: 8.33333%;
  }
  .row > .col.mobile-lg-col-2 {
    flex: none;
    width: 16.66%;
  }
  .row > .col.mobile-lg-col-3 {
    flex: none;
    width: 25%;
  }
  .row > .col.mobile-lg-col-4 {
    flex: none;
    width: 33.33333%;
  }
  .row > .col.mobile-lg-col-5 {
    flex: none;
    width: 41.66667%;
  }
  .row > .col.mobile-lg-col-6 {
    flex: none;
    width: 50%;
  }
  .row > .col.mobile-lg-col-7 {
    flex: none;
    width: 58.33333%;
  }
  .row > .col.mobile-lg-col-8 {
    flex: none;
    width: 66.66667%;
  }
  .row > .col.mobile-lg-col-9 {
    flex: none;
    width: 75%;
  }
  .row > .col.mobile-lg-col-10 {
    flex: none;
    width: 83.33333%;
  }
  .row > .col.mobile-lg-col-11 {
    flex: none;
    width: 91.66667%;
  }
  .row > .col.mobile-lg-col-12 {
    flex: none;
    width: 100%;
  }

  .mobile-lg-auto {
    flex: 1 1 0 !important;
  }

  .row.desktop > .col,
  .row.widescreen > .col,
  .row > .col {
    width: 100%;
    display: block;
    padding: 8px 0px;
  }
}

// Tablet
@media (min-width: 769px) {
  .row.tablet,
  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px 0 -8px;
    width: calc(100% + 16px);
  }

  .row.tablet > .col,
  .row > .col {
    padding: 8px;
  }

  .row > .col.col-1 {
    width: 8.33333%;
    flex: none;
  }
  .row > .col.col-2 {
    width: 16.66%;
    flex: none;
  }
  .row > .col.col-3 {
    width: 25%;
    flex: none;
  }
  .row > .col.col-4 {
    width: 33.33333%;
    flex: none;
  }
  .row > .col.col-5 {
    width: 41.66667%;
    flex: none;
  }
  .row > .col.col-6 {
    width: 50%;
    flex: none;
  }
  .row > .col.col-7 {
    width: 58.33333%;
    flex: none;
  }
  .row > .col.col-8 {
    width: 66.66667%;
    flex: none;
  }
  .row > .col.col-9 {
    width: 75%;
    flex: none;
  }
  .row > .col.col-10 {
    width: 83.33333%;
    flex: none;
  }
  .row > .col.col-11 {
    width: 91.66667%;
    flex: none;
  }
  .row > .col.col-12 {
    width: 100%;
    flex: none;
  }

  .row > .col.mobile-col-1 {
    flex: none;
    width: 8.33333%;
  }
  .row > .col.mobile-col-2 {
    flex: none;
    width: 16.66%;
  }
  .row > .col.mobile-col-3 {
    flex: none;
    width: 25%;
  }
  .row > .col.mobile-col-4 {
    flex: none;
    width: 33.33333%;
  }
  .row > .col.mobile-col-5 {
    flex: none;
    width: 41.66667%;
  }
  .row > .col.mobile-col-6 {
    flex: none;
    width: 50%;
  }
  .row > .col.mobile-col-7 {
    flex: none;
    width: 58.33333%;
  }
  .row > .col.mobile-col-8 {
    flex: none;
    width: 66.66667%;
  }
  .row > .col.mobile-col-9 {
    flex: none;
    width: 75%;
  }
  .row > .col.mobile-col-10 {
    flex: none;
    width: 83.33333%;
  }
  .row > .col.mobile-col-11 {
    flex: none;
    width: 91.66667%;
  }
  .row > .col.mobile-col-12 {
    flex: none;
    width: 100%;
  }

  .row > .col.mobile-lg-col-1 {
    flex: none;
    width: 8.33333%;
  }
  .row > .col.mobile-lg-col-2 {
    flex: none;
    width: 16.66%;
  }
  .row > .col.mobile-lg-col-3 {
    flex: none;
    width: 25%;
  }
  .row > .col.mobile-lg-col-4 {
    flex: none;
    width: 33.33333%;
  }
  .row > .col.mobile-lg-col-5 {
    flex: none;
    width: 41.66667%;
  }
  .row > .col.mobile-lg-col-6 {
    flex: none;
    width: 50%;
  }
  .row > .col.mobile-lg-col-7 {
    flex: none;
    width: 58.33333%;
  }
  .row > .col.mobile-lg-col-8 {
    flex: none;
    width: 66.66667%;
  }
  .row > .col.mobile-lg-col-9 {
    flex: none;
    width: 75%;
  }
  .row > .col.mobile-lg-col-10 {
    flex: none;
    width: 83.33333%;
  }
  .row > .col.mobile-lg-col-11 {
    flex: none;
    width: 91.66667%;
  }
  .row > .col.mobile-lg-col-12 {
    flex: none;
    width: 100%;
  }

  .mobile-lg-auto,
  .row.tablet .auto,
  .auto,
  .mobile-auto {
    flex: 1 1 0 !important;
  }

  .row > .col.tablet-col-1 {
    flex: none;
    width: 8.33333%;
  }
  .row > .col.tablet-col-2 {
    flex: none;
    width: 16.66%;
  }
  .row > .col.tablet-col-3 {
    flex: none;
    width: 25%;
  }
  .row > .col.tablet-col-4 {
    flex: none;
    width: 33.33333%;
  }
  .row > .col.tablet-col-5 {
    flex: none;
    width: 41.66667%;
  }
  .row > .col.tablet-col-6 {
    flex: none;
    width: 50%;
  }
  .row > .col.tablet-col-7 {
    flex: none;
    width: 58.33333%;
  }
  .row > .col.tablet-col-8 {
    flex: none;
    width: 66.66667%;
  }
  .row > .col.tablet-col-9 {
    flex: none;
    width: 75%;
  }
  .row > .col.tablet-col-10 {
    flex: none;
    width: 83.33333%;
  }
  .row > .col.tablet-col-11 {
    flex: none;
    width: 91.66667%;
  }
  .row > .col.tablet-col-12 {
    flex: none;
    width: 100%;
  }

  .row > .col.tablet-auto {
    flex: 1 1 0 !important;
  }

  .row.desktop > .col,
  .row.widescreen > .col {
    display: block;
    width: 100%;
    flex: none;
    padding: 8px;
  }
}

// Desktop
@media (min-width: 1024px) {
  .row.desktop {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px 0 -8px;
    width: calc(100% + 16px);
  }

  .row.desktop > .col {
    padding: 8px;
    flex: 1 1 0;
  }

  .row.desktop > .col-1 {
    width: 8.33333%;
    flex: none;
  }
  .row.desktop > .col-2 {
    width: 16.66%;
    flex: none;
  }
  .row.desktop > .col-3 {
    width: 25%;
    flex: none;
  }
  .row.desktop > .col-4 {
    width: 33.33333%;
    flex: none;
  }
  .row.desktop > .col-5 {
    width: 41.66667%;
    flex: none;
  }
  .row.desktop > .col-6 {
    width: 50%;
    flex: none;
  }
  .row.desktop > .col-7 {
    width: 58.33333%;
    flex: none;
  }
  .row.desktop > .col-8 {
    width: 66.66667%;
    flex: none;
  }
  .row.desktop > .col-9 {
    width: 75%;
    flex: none;
  }
  .row.desktop > .col-10 {
    width: 83.33333%;
    flex: none;
  }
  .row.desktop > .col-11 {
    width: 91.66667%;
    flex: none;
  }
  .row.desktop > .col-12 {
    width: 100%;
    flex: none;
  }

  .row.desktop .mobile-col-1 {
    flex: none;
    width: 8.33333%;
  }
  .row.desktop .mobile-col-2 {
    flex: none;
    width: 16.66%;
  }
  .row.desktop .mobile-col-3 {
    flex: none;
    width: 25%;
  }
  .row.desktop .mobile-col-4 {
    flex: none;
    width: 33.33333%;
  }
  .row.desktop .mobile-col-5 {
    flex: none;
    width: 41.66667%;
  }
  .row.desktop .mobile-col-6 {
    flex: none;
    width: 50%;
  }
  .row.desktop .mobile-col-7 {
    flex: none;
    width: 58.33333%;
  }
  .row.desktop .mobile-col-8 {
    flex: none;
    width: 66.66667%;
  }
  .row.desktop .mobile-col-9 {
    flex: none;
    width: 75%;
  }
  .row.desktop .mobile-col-10 {
    flex: none;
    width: 83.33333%;
  }
  .row.desktop .mobile-col-11 {
    flex: none;
    width: 91.66667%;
  }
  .row.desktop .mobile-col-12 {
    flex: none;
    width: 100%;
  }

  .row.desktop .mobile-lg-col-1 {
    flex: none;
    width: 8.33333%;
  }
  .row.desktop .mobile-lg-col-2 {
    flex: none;
    width: 16.66%;
  }
  .row.desktop .mobile-lg-col-3 {
    flex: none;
    width: 25%;
  }
  .row.desktop .mobile-lg-col-4 {
    flex: none;
    width: 33.33333%;
  }
  .row.desktop .mobile-lg-col-5 {
    flex: none;
    width: 41.66667%;
  }
  .row.desktop .mobile-lg-col-6 {
    flex: none;
    width: 50%;
  }
  .row.desktop .mobile-lg-col-7 {
    flex: none;
    width: 58.33333%;
  }
  .row.desktop .mobile-lg-col-8 {
    flex: none;
    width: 66.66667%;
  }
  .row.desktop .mobile-lg-col-9 {
    flex: none;
    width: 75%;
  }
  .row.desktop .mobile-lg-col-10 {
    flex: none;
    width: 83.33333%;
  }
  .row.desktop .mobile-lg-col-11 {
    flex: none;
    width: 91.66667%;
  }
  .row.desktop .mobile-lg-col-12 {
    flex: none;
    width: 100%;
  }

  .row.desktop .tablet-col-1 {
    flex: none;
    width: 8.33333%;
  }
  .row.desktop .tablet-col-2 {
    flex: none;
    width: 16.66%;
  }
  .row.desktop .tablet-col-3 {
    flex: none;
    width: 25%;
  }
  .row.desktop .tablet-col-4 {
    flex: none;
    width: 33.33333%;
  }
  .row.desktop .tablet-col-5 {
    flex: none;
    width: 41.66667%;
  }
  .row.desktop .tablet-col-6 {
    flex: none;
    width: 50%;
  }
  .row.desktop .tablet-col-7 {
    flex: none;
    width: 58.33333%;
  }
  .row.desktop .tablet-col-8 {
    flex: none;
    width: 66.66667%;
  }
  .row.desktop .tablet-col-9 {
    flex: none;
    width: 75%;
  }
  .row.desktop .tablet-col-10 {
    flex: none;
    width: 83.33333%;
  }
  .row.desktop .tablet-col-11 {
    flex: none;
    width: 91.66667%;
  }
  .row.desktop .tablet-col-12 {
    flex: none;
    width: 100%;
  }

  .row > .col.desktop-col-1 {
    flex: none;
    width: 8.33333%;
  }
  .row > .col.desktop-col-2 {
    flex: none;
    width: 16.66%;
  }
  .row > .col.desktop-col-3 {
    flex: none;
    width: 25%;
  }
  .row > .col.desktop-col-4 {
    flex: none;
    width: 33.33333%;
  }
  .row > .col.desktop-col-5 {
    flex: none;
    width: 41.66667%;
  }
  .row > .col.desktop-col-6 {
    flex: none;
    width: 50%;
  }
  .row > .col.desktop-col-7 {
    flex: none;
    width: 58.33333%;
  }
  .row > .col.desktop-col-8 {
    flex: none;
    width: 66.66667%;
  }
  .row > .col.desktop-col-9 {
    flex: none;
    width: 75%;
  }
  .row > .col.desktop-col-10 {
    flex: none;
    width: 83.33333%;
  }
  .row > .col.desktop-col-11 {
    flex: none;
    width: 91.66667%;
  }
  .row > .col.desktop-col-12 {
    flex: none;
    width: 100%;
  }

  .row > .col.desktop-auto {
    flex: 1 1 0 !important;
  }

  .row .widescreen {
    padding: 8px 0px;
    width: 100%;
  }
}

// Widescreen
@media (min-width: 1220px) {
  .row.widescreen {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px 0 -8px;
    width: calc(100% + 16px);
  }

  .row.widescreen > .col {
    padding: 8px;
    flex: 1 1 0;
  }

  .row.widescreen > .col-1 {
    width: 8.33333%;
    flex: none;
  }
  .row.widescreen > .col-2 {
    width: 16.66%;
    flex: none;
  }
  .row.widescreen > .col-3 {
    width: 25%;
    flex: none;
  }
  .row.widescreen > .col-4 {
    width: 33.33333%;
    flex: none;
  }
  .row.widescreen > .col-5 {
    width: 41.66667%;
    flex: none;
  }
  .row.widescreen > .col-6 {
    width: 50%;
    flex: none;
  }
  .row.widescreen > .col-7 {
    width: 58.33333%;
    flex: none;
  }
  .row.widescreen > .col-8 {
    width: 66.66667%;
    flex: none;
  }
  .row.widescreen > .col-9 {
    width: 75%;
    flex: none;
  }
  .row.widescreen > .col-10 {
    width: 83.33333%;
    flex: none;
  }
  .row.widescreen > .col-11 {
    width: 91.66667%;
    flex: none;
  }
  .row.widescreen > .col-12 {
    width: 100%;
    flex: none;
  }

  .row.widescreen .mobile-col-1 {
    flex: none;
    width: 8.33333%;
  }
  .row.widescreen .mobile-col-2 {
    flex: none;
    width: 16.66%;
  }
  .row.widescreen .mobile-col-3 {
    flex: none;
    width: 25%;
  }
  .row.widescreen .mobile-col-4 {
    flex: none;
    width: 33.33333%;
  }
  .row.widescreen .mobile-col-5 {
    flex: none;
    width: 41.66667%;
  }
  .row.widescreen .mobile-col-6 {
    flex: none;
    width: 50%;
  }
  .row.widescreen .mobile-col-7 {
    flex: none;
    width: 58.33333%;
  }
  .row.widescreen .mobile-col-8 {
    flex: none;
    width: 66.66667%;
  }
  .row.widescreen .mobile-col-9 {
    flex: none;
    width: 75%;
  }
  .row.widescreen .mobile-col-10 {
    flex: none;
    width: 83.33333%;
  }
  .row.widescreen .mobile-col-11 {
    flex: none;
    width: 91.66667%;
  }
  .row.widescreen .mobile-col-12 {
    flex: none;
    width: 100%;
  }

  .row.widescreen .mobile-lg-col-1 {
    flex: none;
    width: 8.33333%;
  }
  .row.widescreen .mobile-lg-col-2 {
    flex: none;
    width: 16.66%;
  }
  .row.widescreen .mobile-lg-col-3 {
    flex: none;
    width: 25%;
  }
  .row.widescreen .mobile-lg-col-4 {
    flex: none;
    width: 33.33333%;
  }
  .row.widescreen .mobile-lg-col-5 {
    flex: none;
    width: 41.66667%;
  }
  .row.widescreen .mobile-lg-col-6 {
    flex: none;
    width: 50%;
  }
  .row.widescreen .mobile-lg-col-7 {
    flex: none;
    width: 58.33333%;
  }
  .row.widescreen .mobile-lg-col-8 {
    flex: none;
    width: 66.66667%;
  }
  .row.widescreen .mobile-lg-col-9 {
    flex: none;
    width: 75%;
  }
  .row.widescreen .mobile-lg-col-10 {
    flex: none;
    width: 83.33333%;
  }
  .row.widescreen .mobile-lg-col-11 {
    flex: none;
    width: 91.66667%;
  }
  .row.widescreen .mobile-lg-col-12 {
    flex: none;
    width: 100%;
  }

  .row.widescreen .tablet-col-1 {
    flex: none;
    width: 8.33333%;
  }
  .row.widescreen .tablet-col-2 {
    flex: none;
    width: 16.66%;
  }
  .row.widescreen .tablet-col-3 {
    flex: none;
    width: 25%;
  }
  .row.widescreen .tablet-col-4 {
    flex: none;
    width: 33.33333%;
  }
  .row.widescreen .tablet-col-5 {
    flex: none;
    width: 41.66667%;
  }
  .row.widescreen .tablet-col-6 {
    flex: none;
    width: 50%;
  }
  .row.widescreen .tablet-col-7 {
    flex: none;
    width: 58.33333%;
  }
  .row.widescreen .tablet-col-8 {
    flex: none;
    width: 66.66667%;
  }
  .row.widescreen .tablet-col-9 {
    flex: none;
    width: 75%;
  }
  .row.widescreen .tablet-col-10 {
    flex: none;
    width: 83.33333%;
  }
  .row.widescreen .tablet-col-11 {
    flex: none;
    width: 91.66667%;
  }
  .row.widescreen .tablet-col-12 {
    flex: none;
    width: 100%;
  }

  .row.widescreen .desktop-col-1 {
    flex: none;
    width: 8.33333%;
  }
  .row.widescreen .desktop-col-2 {
    flex: none;
    width: 16.66%;
  }
  .row.widescreen .desktop-col-3 {
    flex: none;
    width: 25%;
  }
  .row.widescreen .desktop-col-4 {
    flex: none;
    width: 33.33333%;
  }
  .row.widescreen .desktop-col-5 {
    flex: none;
    width: 41.66667%;
  }
  .row.widescreen .desktop-col-6 {
    flex: none;
    width: 50%;
  }
  .row.widescreen .desktop-col-7 {
    flex: none;
    width: 58.33333%;
  }
  .row.widescreen .desktop-col-8 {
    flex: none;
    width: 66.66667%;
  }
  .row.widescreen .desktop-col-9 {
    flex: none;
    width: 75%;
  }
  .row.widescreen .desktop-col-10 {
    flex: none;
    width: 83.33333%;
  }
  .row.widescreen .desktop-col-11 {
    flex: none;
    width: 91.66667%;
  }
  .row.widescreen .desktop-col-12 {
    flex: none;
    width: 100%;
  }

  .row > .col.widescreen-col-1 {
    flex: none;
    width: 8.33333%;
  }
  .row > .col.widescreen-col-2 {
    flex: none;
    width: 16.66%;
  }
  .row > .col.widescreen-col-3 {
    flex: none;
    width: 25%;
  }
  .row > .col.widescreen-col-4 {
    flex: none;
    width: 33.33333%;
  }
  .row > .col.widescreen-col-5 {
    flex: none;
    width: 41.66667%;
  }
  .row > .col.widescreen-col-6 {
    flex: none;
    width: 50%;
  }
  .row > .col.widescreen-col-7 {
    flex: none;
    width: 58.33333%;
  }
  .row > .col.widescreen-col-8 {
    flex: none;
    width: 66.66667%;
  }
  .row > .col.widescreen-col-9 {
    flex: none;
    width: 75%;
  }
  .row > .col.widescreen-col-10 {
    flex: none;
    width: 83.33333%;
  }
  .row > .col.widescreen-col-11 {
    flex: none;
    width: 91.66667%;
  }
  .row > .col.widescreen-col-12 {
    flex: none;
    width: 100%;
  }
} */

/* TYPOGRAPHY
 ---------------------------------------------------------------
 ---------------------------------------------------------------*/

* {
  font-family: 'Montserrat';
}

p {
  line-height: 25px;
  font-size: 16px;
  font-weight: 500;
}

small {
  font-size: 14px;
}

.full-width {
  width: 100% !important;
}

.logo {
  font-weight: 900;
  font-family: 'overpass', sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
}

h1,
.h1 {
  font-size: 26px;
}

@media (min-width: 718px) {
  h1,
  .h1 {
    font-size: 36px;
  }
}

h2,
.h2 {
  font-size: 24px;
}

@media (min-width: 718px) {
  h2,
  .h2 {
    font-size: 32px;
  }
}

h3,
.h3 {
  font-size: 22px;
}

@media (min-width: 718px) {
  h3,
  .h3 {
    font-size: 28px;
  }
}

h4,
.h4 {
  font-size: 20px;
}

@media (min-width: 718px) {
  h4,
  .h4 {
    font-size: 24px;
    line-height: 34px;
  }
}

h5,
.h5 {
  font-size: 18px;
}

@media (min-width: 718px) {
  h5,
  .h5 {
    font-size: 20px;
  }
}

h6,
.h6 {
  font-size: 16px;
}

@media (min-width: 718px) {
  h6,
  .h6 {
    font-size: 16px;
  }
}
