/* LAYOUT AND GRID SYSTEM
--------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fire sans:wght@400;600;800&display=swap');

#header {
  z-index: 999999;
  display: block;
  will-change: width, height;
}

#blur {
  transition: all 0.25s ease-in-out;
  min-height: 100vh;
  max-height: 99999999999999999px !important;
}

@media (max-width: 769px) {
  .blur {
    filter: blur(3px);
    transition: all 0.25s ease-in-out;
  }
}

a.no-styling {
  text-decoration: none;
}

button a:hover {
  color: inherit !important;
}

* {
  box-sizing: border-box;
}

:root {
  --space-none: 0;
  --space-xxs: 8px;
  --space-xs: 16px;
  --space-sm: 24px;
  --space-md: 32px;
  --space-lg: 48px;
  --space-xl: 64px;
  --space-xxl: 72px;

  /* 
  --main: rgb(48, 155, 255);
  --main: rgb(21, 146, 196);

  --primary-light: rgb(246, 250, 255);
  --primary: rgb(81, 182, 249);
  --primary-dark: rgb(45, 67, 92);
  --secondary: rgb(253, 99, 71);
  --button-color: linear-gradient(
        to right top,
    rgb(48, 214, 255),
    rgb(48, 155, 255),
    rgb(48, 100, 255)
  );
  */
  --button-color-secondary: linear-gradient(
    to right top,
    rgb(249, 170, 80),
    rgb(247, 107, 43)
  );
  --button-color-primary: linear-gradient(
    to right top,
    rgb(249, 170, 80),
    rgb(247, 107, 43)
  );

  --text-light: #989fa7;
  --text-dark: #626f7f;
  --text-heading: #3a3e44;
  --primary-backgroundLight: #f6faff;
  --primary-text: #0e3d69;
  --primary-backgroundDark: #131b23;
  --primary-light: #308cff;
  --primary-main: #1758d1;
  --primary-dark: #123cbe;
  --primary-light_rgb: rgb(48; 140; 255);
  --primary-main_rgb: rgb(23; 88; 209);
  --primary-dark_rgb: rgb(18; 60; 190);
  --secondary-light: #fab86c;
  --secondary-main: #f9853a;
  --secondary-dark: #f76b2b;
  --gray-one: #f6faff;
  --gray-two: #f3f3f3;
  --gray-three: #e9e9e9;
}

body {
  width: 100%;
  overflow-x: auto;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

html {
  box-sizing: border-box;
  /* overflow-y: hidden; */
  scroll-behavior: smooth;
  width: 100%;
}

/* 
.container {
  margin: 0 auto;
  width: 95%;
  max-width: 1350px;
  padding: 60px 12px;
}

@media (min-width: 540px) {
  .container {
    margin: 0 auto;
    padding-left: 18px;
    padding-right: 18px;
  }
}

@media (min-width: 769px) {
  .container {
    padding-left: 28px;
    padding-right: 28px;
  }

  .container.wide {
    margin: 0 auto;
    width: 90%;
  }
}

@media (min-width: 1220px) {
  .container {
    padding-left: 48px;
    padding-right: 48px;
  }
} */

.container,
.container-xs {
  width: 100%;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
  padding: 60px 12px;
}
@media (min-width: 481px) {
  .container,
  .container-xs {
    padding-left: 24px;
    padding-right: 24px;
  }
}
.container {
  max-width: 1128px;
}
.container-xs {
  max-width: 668px;
}
[class*='container'] .container-xs {
  max-width: 620px;
}

/* TYPOGRAPHY
---------------------------------------- */

html,
body {
  color: #3a3e44;
  font-family: 'Heebo', sans-serif;
}

p,
small {
  font-family: 'Heebo', sans-serif;
  color: #626f7f;
}

p {
  line-height: 30px;
  font-size: 20px;
  font-weight: 400;
  color: var(--text-light);
}

p.small {
  color: var(--text-heading);
  font-size: 16px;
}

input,
textarea {
  font-size: 16px;
}

small {
  font-size: 15px;
}

.full-width {
  width: 100% !important;
}

button {
  font-family: sans-serif !important;
}

.center {
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 650px;
}

.m-none {
  margin: 0;
}

.mt-none {
  margin: 0;
}

.mb-none {
  margin: 0;
}

.ml-none {
  margin: 0;
}

.mr-none {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Fire sans', sans-serif;
  font-weight: 600;
}

h1,
.h1 {
  font-size: 26px;
}

@media (min-width: 718px) {
  h1,
  .h1 {
    font-size: 36px;
  }
}

h2,
.h2 {
  font-size: 24px;
}

@media (min-width: 718px) {
  h2,
  .h2 {
    font-size: 32px;
  }
}

h3,
.h3 {
  font-size: 22px;
}

@media (min-width: 718px) {
  h3,
  .h3 {
    font-size: 28px;
  }
}

h4,
.h4 {
  font-size: 20px;
}

@media (min-width: 718px) {
  h4,
  .h4 {
    font-size: 24px;
    line-height: 34px;
  }
}

h5,
.h5 {
  font-size: 18px;
}

@media (min-width: 718px) {
  h5,
  .h5 {
    font-size: 20px;
  }
}

h6,
.h6 {
  font-size: 16px;
}

@media (min-width: 718px) {
  h6,
  .h6 {
    font-size: 16px;
  }
}
